/build
*.log
/tmp
/libvtk8-dev
/libvtk8-java
/libvtk8-qt-dev
/libvtk8.1-qt
/libvtk8.1
/.debhelper/
/files
/libvtk8-dev.substvars
/libvtk8-java.substvars
/libvtk8-qt-dev.substvars
/libvtk8.1-qt.substvars
/libvtk8.1.substvars
/python-vtk8.postinst.debhelper
/python-vtk8.prerm.debhelper
/python-vtk8.substvars
/python-vtk8/
/tcl-vtk8.substvars
/tcl-vtk8/
/vtk8-doc.substvars
/vtk8-doc/
/vtk8-examples.substvars
/vtk8-examples/
/vtk8.substvars
/vtk8/
